<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/style-tablet.css">
    <link rel="stylesheet" href="/css/style-desktop-768.css">
    <link rel="stylesheet" href="/css/style-desktop.css">
</head>

<body>
    <header class="bg-yellow">
        <section>
            <div class="main-header-top-bar">
                <h1 class="w-50"><a href="/views/home.html"><img src="/images/logo-mercado-liebre.svg" alt="" /></a>
                </h1>
                <div class="search-bar w-50">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </section>
        <nav class="navbar">
            <ul>
                <li><a href="/views/ofertas.html">Ofertas</a></li>
                <li><a href="/views/tiendas-oficiales.html">Tiendas Oficiales</a></li>
                <li><a href="/views/vender.html">Vender</a></li>
                <li><a href="/views/ayuda.html">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/views/register.html">Creá tu cuenta
                        <i class="far fa-id-card"></i></a></li>
                <li><a href="/views/login.html">Ingresá</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li><a href="/views/mis-compras.html">Mis Compras</a>
                    <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
        <main class="container-content">
            <form action="crear-producto" method="post" class="create-form">
                <div class="control-form">
                    <input type="text" name="nombre" placeholder="Nombre y apellido" class="control">
                </div>
                <div class="control-form">
                    <input type="text" name="user" placeholder="Nombre de usuario" class="control">
                </div>
                <div class="control-form">
                    <input type="email" name="mail" placeholder="E-mail" class="control">
                </div>
                <div class="control-form">
                    <label>Fecha de nacimiento</label>
                    <input type="date" name="birdate" class="control">
                </div>
                <div class="control-form">
                    <input type="text" name="direction" placeholder="Domicilio" class="control">
                </div>
                <label><strong>Perfil del usuario</strong></label>
                <div class="control-form-content">
                    <label>Comprador</label>
                    <input type="radio" name="buy">
                    <label>Vendedor</label>
                    <input type="radio" name="buy">
                </div>
                <label><strong>Intereses</strong></label>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Electro">
                    <label>Electro</label>
                </div>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Moda">
                    <label>Moda</label>
                </div>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Hogar">
                    <label>Hogar</label>
                </div>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Juguetería">
                    <label>Juguetería</label>
                </div>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Vida Sana">
                    <label>Vida Sana</label>
                </div>
                <div class="control-form">
                    <label>Seleccioná una foto de perfil:</label>
                    <input type="file" name="avatar" accept="image/*" class="control">
                </div>
                <div class="control-form">
                    <input type="password" name="pass" placeholder="Contraseña" class="control">
                </div>
                <div class="control-form">
                    <input type="password" name="pass" placeholder="Confirmar Contraseña" class="control">
                </div>
                <button type="reset" class="button-form">Borrar</button>
                <button type="submit" class="button-form">Enviar</button>
            </form>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <section>
                    <i class="fas fa-credit-card"></i>
                    <h4 class="font-foot"><strong>Pagá con tarjeta o en efectivo</strong></h4>
                    <article>
                        <p class="font-small"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                            en
                            puntos de
                            pago. ¡Y siempre es seguro!</p>
                    </article>
                </section>
                <section>
                    <span style="font-size: 2em; color: #1259c3">
                        <i class="fas fa-gift"></i>
                    </span>
                    <h4 class="font-foot">Envío gratis desde $2.500</h4>
                    <article>
                        <p class="font-small">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                            de
                            productos. Es
                            un beneficio de Mercado Puntos.</p>
                    </article>
                </section>
                <section>
                    <span style="font-size: 2em; color: #1259c3">
                        <i class="fas fa-user-shield"></i>
                    </span>
                    <h4 class="font-foot">Seguridad, de principio a fin</h4>
                    <article>
                        <p class="font-small">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                            hacer,
                            porque estás
                            siempre protegid@.</p>
                    </article>
                </section>
            </div>
            <section>
                <p style=text-align:left>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
            </section>
        </footer>
</body>

</html>